/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1)6.5vh, rgba(255, 255, 255, 0) 43.5vh, rgba(255, 255, 255, 1) 100vh),
url('assets/Home_BG-Img.jpg');
  background-size: 100vw;
  background-position: center 12vh;
    background-size: cover;
   Set a fallback background color
  background-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    Height: 12.5vh;
    width: 75vw;
    background-color: white;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    z-index: 1000;
}


/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: green;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #FFBF00;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #FFBF00;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: pointer;
    text-decoration: none;}


.letter {
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    color: white;
    text-align: center;
    font-weight: bold;
border-radius: .7vw;
line-height: 3.5vw;

}


.letter:nth-child(1),
.letter:nth-child(7) {
    background-color: green; /* green for S and S */
}

.letter:nth-child(2),
.letter:nth-child(6),
.letter:nth-child(5) {
    background-color: #FFBF00; /* Amber for I, N and E */
}

.letter:nth-child(3),
.letter:nth-child(4) {
    background-color: black; /* black for k and w */
}


/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: green;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.Logedin{
display:none;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 17.5vh;
  height: 100vh;
  width: 75vw;
  margin: 0 12.5vw;
  box-sizing: border-box;
  min-height: fit-content;
  justify-content: center;
  align-items: center;
}

.home {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.home__pic-container {
position: relative;
perspective: 35rem;
display:flex;
  height: 82.5vh;
  width: 50vw;
justify-content: center;
}

.home__pic-placeholder,
.home-pic-animation-container{
position: absolute;
  transform-style: preserve-3d;
}

.home__pic-placeholder {
  display:grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  transform: translateZ(0);
  grid-row-gap: .5vw;
}


.Uniques{
Display:none;
}


.home-pic-animation-container{
bottom: 0;
    top: 0;
Display:flex;
transform: translateZ(-50px);
background:transparent;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 50vw;
  height: 4.55vw;
  gap: .5vw;
}

.square {
  width: 4.55vw;
  height: 4.55vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: .25rem solid green;
  border-radius: .5rem;
  background: green;
  box-sizing: border-box;
}

.row .square:nth-child(3),
.row .square:nth-child(5),
.row .square:nth-child(7),
.row .square:nth-child(8){
  border-color: white;
}

.row:nth-child(-n+2) .square:nth-child(7),
.row:nth-child(-n+3) .square:nth-child(5),
.row:nth-child(-n+3) .square:nth-child(8){
background-color: red;
}

.row:nth-child(4) .square:nth-child(5),
.row:nth-child(4) .square:nth-child(8){
color: Green;
}

.row:nth-child(4) .square:nth-child(5),
.row:nth-child(4) .square:nth-child(8),
.row:nth-child(5) .square:nth-child(5),
.row:nth-child(5) .square:nth-child(8){
background: white;
border-color: #FFBF00;
backface-visibility: hidden;
}


.flip{
  animation: flip 1s ease-in-out;
  animation-iteration-count: 1;
}


@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}


@keyframes buzz {
    0% { transform: rotate(0); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}

.buzzing {
    animation: buzz 0.2s 3;
}


.home__text-container{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 22vw;
  align-self: center;
  text-align: center;
  gap:3vh;
  grid-template-rows: 3fr 1fr;
  max-height: 50vh;
  min-height: fit-content;
}

.home__text-placeholder{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 22vw;
  align-self: center;
  text-align: center;
  gap:0;
  grid-template-rows: 2fr 8fr 3fr;
}

.home__text__p1 {
  font-size: 1rem;
font-weight: bold;
text-align: center;
}

.home__text__main{
font-size: 4rem;
font-weight: bold;
text-align: center;
color:green;
text-align: center;
animation: wave 1s infinite alternate;
}

@keyframes wave {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}

.home__text__p2 {
font-size: 1.5rem;
text-align: center;
color: black;
}

.btn-container {
display: flex;
justify-content: space-between;
width:100%;
height:100%;
gap: 2vw;
}

.btn {
  font-weight: 1000;
  transition: all 300ms ease;
  width: 10vw;
  border-radius: 2rem;
}

.btn-color-1:hover,
.btn-color-2 {
  background: white;
  color: green;
  border: green 0.2rem solid;
}

.btn-color-1,
.btn-color-2:hover {
  border: white 0.2rem solid;
  background: green;
  color: white;
  border: white 0.2rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

/* ABOUT SECTION */

.about {
padding:0;
margin:0;
background-color:#e8e8d6;
    width: 100vw;
  height: 100vh;
     box-sizing: border-box;
}

.about-container{
  padding-top: 19.5vh;
  height: 100vh;
  width: 100vw;
  padding-left: 12.5vw;
    padding-right: 12.5vw;
  box-sizing: border-box;
  min-height: fit-content;
  justify-content: center;
  align-items: center;
}

.about-text-container{
border-top: .1px solid green;
justify-content: center;
align-items: start;
display: grid;
grid-template-rows: 1fr 9fr ;
width: 75vw;
height:81vh;
box-sizing: border-box;
}

.about-title-container{
justify-items: start;
align-items: start;
height: 8.1vh;
}

.about-title {
  font-size: 3rem;
  color:green;
}

.about-details-containers{
display:flex;
Padding-top: 10vh;
padding-bottom: 10vh;
height:72.9vh;
width: 100%;
justify-content: space-between;
column-gap: 3vw;
box-sizing: border-box;
}

.about-details-container-main{
width:42vw;
text-align: justify;
background-color: white;
border-radius:1rem;
height:52.9vh;
padding: 2.5vh;
padding-left: 3.5vh;
padding-right: 3.5vh;
box-sizing: border-box;
position:relative;
gap: 0;
}

.about-details-main{
font-size: 1rem;
margin-bottom: .5rem;
}


.sm {
  position: absolute;
  bottom: 2.5vh; 
  font-size: 1.1rem;
}

.about-details-container-sub{
 justify-items: center;
align-items: center;
display:grid;
width: 30vw;
box-sizing: border-box;
gap: 3vh;
height: 52.9vh;
 grid-template-rows: 1fr 1fr;
}


.about-details-container-sub_2,
.about-details-container-sub_1{
position:relative;
background-color: #E9FFE8;
height: 24.95vh;
width:100%;
padding: 2vh;
border-radius:1rem;
justify-items: center;
align-items: center;
box-sizing: border-box;
overflow: hidden; 
}

.About-blog-list-title{
list-style: none;
height: 4vh;
margin-bottom: 3vh;
}
 

.About-blog-list{
    list-style: none;
    border-bottom: .1px solid green;
    border-bottom-color: lightgray;
    height: 3.5vh;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;    
    align-content: center;
}


.About-blog-list:last-child p1 span {
  display: inline-block;
  animation: slide 7s linear infinite;
}


@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


p1 {
  font-size: 1rem;
text-align: center;
    color:darkslategray;
    white-space: nowrap;
  overflow: hidden;
}

h3 {
  font-size: 1.6rem;
color: black;
}

.game-icon-container{ 
    position: absolute;
    top: 2vh;
    right: .33vw;
    padding-right: .9rem;
    height: 10vh;
    width: 10vh;
    justify-content: flex-end;
    display: flex;
}

.blog-icon-container{ 
    position: absolute;
    top: 2vh;
    right: .33vw;
    padding-right: .9rem;
    height: 10vh;
    width: 10vh;
    justify-content: flex-end;
    display: flex;
}
/* FOOTER SECTION */

footer {
display: flex;
grid-row-gap: 0;
align-items: center;
justify-content: space-evenly;
padding: 1rem;
margin: 0;
background: black;
width: 100VW;
box-sizing: border-box;
}

p33 {
color:whitesmoke;
text-align: start;

}

.social-media-icons{ 
  display: flex;
  justify-content: center;
}

.social-media-icons-upper-container {
  display: flex;
  gap: 3vw;
  background-color: black;
  justify-content: center;
  align-items:  center;
  border-radius: 2rem;
  border: black 3px solid;
  padding: 0.5rem;
width: 30vw;
height: 5vh;
}

 .social-media-icons-container {
     background-color: black;
     display: flex;
        align-items: center;
        justify-content: center;
    height: 5vh;
    width: 5vh;
     
    }

.social-media-icons-container:hover{
  height: 10vh;
    width: 10vh;  
}